main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid rgb(161, 161, 161);
  text-align: center;
  padding: 8px; 
}

td > a {
    text-decoration:none;
}

  #header {
background-color: #bebebe;}

#title-table{
    background-color: #a5a5a5;
}
.row-hover:hover {
    
    background-color:rgb(161,161,161);
}